* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main-color: red;
}

.color {
  color: red;
}

.contact {
  padding: 20px;
  background-color: var(--main-color);
}

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-family: "Cairo", sans-serif;
}

body {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.main-btn {
  background-color: #00508d;
  color: white;
  padding: 0.8rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 40px;
  font-size: 18px;
}

.main-btn:hover {
  color: #709ea4;
}

.second-btn {
  background-color: #00535d;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
}
.second-btn a {
  color: white;
}

.second-btn:hover {
  color: #709ea4;
}

.special-title {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 50px;
  gap: 1rem;
  margin-bottom: 5rem;
  font-weight: 500;
}
.special-title span {
  color: #00508d !important;
}

.special-span {
  width: 120px;
  height: 2px;
  background-color: #00508d;
  background-image: -webkit-linear-gradient(left, #00508d, #6bb4b6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -50px auto 60px auto;
}

input[type=text]::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

input[type=text]::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

input[type=text]:-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

input[type=text]::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

input[type=text]::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

input[type=text]:focus::-webkit-input-placeholder {
  opacity: 0;
}

input[type=text]:focus::-moz-placeholder {
  opacity: 0;
}

input[type=text]:focus:-ms-input-placeholder {
  opacity: 0;
}

input[type=text]:focus::-ms-input-placeholder {
  opacity: 0;
}

input[type=text]:focus::placeholder {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00508d;
  border-radius: 4.5px;
  height: 100px;
  -webkit-transition: 1s;
  transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-alt);
}

::-moz-selection {
  background-color: transparent;
  color: gold;
  background-color: black;
  border-radius: 2px;
}

::selection {
  background-color: transparent;
  color: gold;
  background-color: black;
  border-radius: 2px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* end global varibal*/
/* Start Header */
.navbar {
  background-color: #00535d !important;
}
.navbar .navbar-nav {
  direction: rtl;
}
.navbar .navbar-nav .nav-item .nav-link {
  padding: 8px 15px;
  color: white;
}
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 15px;
    border-bottom: 1px solid #709ea4;
  }
  .navbar .navbar-nav .nav-item .nav-link.btn {
    border: none;
    margin-top: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.navbar .navbar-nav .nav-item .nav-link.btn {
  background-color: #00508d;
  border-radius: 40px;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #709ea4;
}
.navbar .navbar-nav .menu-search {
  width: 100%;
}
.navbar .navbar-nav .menu-search .menu-text {
  background-color: transparent;
  border: none;
  outline: none;
  direction: ltr;
  caret-color: white;
  width: 100%;
  border-bottom: 1px solid #709ea4;
}
.navbar .navbar-nav .menu-search .menu-submit {
  -webkit-transform: translate(-8px, -38px);
          transform: translate(-8px, -38px);
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 0 0 0;
  font-size: 18px;
}
.navbar .navbar-nav .menu-social li a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar .navbar-nav .menu-social li a:hover {
  color: #709ea4;
}

/* End Header */
/* Start Landing */
.landing {
  height: 90vh;
  background-image: url(../imgs/landing.png);
  background-size: cover;
  /* Start Contact Btn*/
  /* End Contact Btn*/
  /* Start Btn Top */
  /* Start Search Bar */
  /* End Search Bar */
  /* End Btn Top */
}
.landing .contact-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
}
.landing .contact-btn .container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: -100;
}
@media (max-width: 767px) {
  .landing .contact-btn .container .social {
    position: absolute;
    right: -100%;
    bottom: 180%;
  }
}
.landing .contact-btn .container .social.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0%;
  z-index: 10;
  opacity: 1;
}
@media (max-width: 767px) {
  .landing .contact-btn .container .social.active {
    margin-right: 20%;
  }
}
.landing .contact-btn .container .social .whatsapp svg {
  background-color: #49e670;
  padding: 15px;
  font-size: 35px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  .landing .contact-btn .container .social .whatsapp svg {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .landing .contact-btn .container .social .messenger {
    margin-bottom: -50px;
  }
}
.landing .contact-btn .container .social .messenger svg {
  background-color: #1877f2;
  padding: 12px;
  font-size: 32px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  .landing .contact-btn .container .social .messenger svg {
    font-size: 30px;
  }
}
.landing .contact-btn .container .contact-icon {
  cursor: pointer;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .landing .contact-btn .container .contact-icon {
    padding-top: 0;
  }
}
.landing .contact-btn .container .contact-icon svg {
  background-color: #4f6aca;
  border-radius: 50%;
  color: white;
  padding: 12px;
  font-size: 32px;
}
@media (max-width: 767px) {
  .landing .contact-btn .container .contact-icon svg {
    font-size: 30px;
  }
}
.landing .btn-up {
  z-index: 1000;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.landing .btn-up .top {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background-color: #00535d;
  border-radius: 50%;
  min-width: 56px;
  min-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#00535d), to(#6bb4b6));
  background-image: linear-gradient(left, #00535d, #6bb4b6);
}
.landing .btn-up .top a {
  font-size: x-large;
  color: white;
}
.landing .main-search {
  width: 0%;
  height: 0vh;
  direction: rtl;
  position: absolute;
  right: -100%;
  top: -100%;
  z-index: -1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
@media (max-width: 991px) {
  .landing .main-search {
    display: none;
  }
}
.landing .main-search.active {
  width: 100%;
  height: 100vh;
  z-index: 10;
  right: 0%;
  top: 0%;
}
.landing .main-search .container .search-close-btn {
  position: absolute;
  right: 60px;
  top: 50px;
  z-index: 10;
}
.landing .main-search .container .search-close-btn button {
  background-color: transparent;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: black;
  font-size: 30px;
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
  background-color: white !important;
  cursor: pointer;
}
.landing .main-search .container .search-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.landing .main-search .container .search-bar .submit {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(1000%, -50%);
          transform: translate(1000%, -50%);
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.landing .main-search .container .search-bar .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 25px;
  -webkit-transition: 2s;
  transition: 2s;
  color: white;
  max-width: 680px;
  min-width: 680px;
  height: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  direction: ltr;
}
.landing .main-search .container .search-bar .text::-webkit-input-placeholder {
  font-size: 25px;
  color: white;
}
.landing .main-search .container .search-bar .text::-moz-placeholder {
  font-size: 25px;
  color: white;
}
.landing .main-search .container .search-bar .text:-ms-input-placeholder {
  font-size: 25px;
  color: white;
}
.landing .main-search .container .search-bar .text::-ms-input-placeholder {
  font-size: 25px;
  color: white;
}
.landing .main-search .container .search-bar .text::placeholder {
  font-size: 25px;
  color: white;
}
.landing .main-search .container .search-bar .text.active {
  width: 680px;
}
.landing .container {
  direction: rtl;
  overflow-x: hidden;
}
.landing .container .title h3 {
  -webkit-transform: translateX(-260%);
          transform: translateX(-260%);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.landing .container .title h3.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.landing .container .title h2 {
  color: #00508d;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translateX(140%);
          transform: translateX(140%);
}
.landing .container .title h2.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.landing .container .title .main-btn {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
  cursor: pointer;
}
.landing .container .title .main-btn.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

/* End Landing */
/* Start services */
.services {
  background-color: white;
}
@media (max-width: 991px) {
  .services {
    display: none !important;
  }
}
.services .container {
  position: relative;
  right: -100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.services .container.active {
  right: 0%;
}
.services .container .carousel-indicators {
  -webkit-transform: translateY(350%);
          transform: translateY(350%);
}
.services .container .carousel-indicators .data-bs-target {
  background-color: #00508d !important;
}
.services .container .carousel-control-next {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}
.services .container .carousel-control-next .carousel-control-next-icon {
  color: #00508d;
  background-image: none;
}
.services .container .carousel-control-prev {
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
}
.services .container .carousel-control-prev .carousel-control-prev-icon {
  color: #00508d;
  background-image: none;
}
.services .container .carousel-inner .carousel-item .row svg {
  background-color: #00508d;
}
.services .container .carousel-inner .carousel-item .row h3 {
  color: #00508d;
}

/* End services */
/* Start services-two */
.services-two {
  overflow: hidden;
}
@media (max-width: 991px) {
  .services-two {
    display: block !important;
  }
}
.services-two .container {
  position: relative;
  right: -100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.services-two .container.active {
  right: 0%;
}
.services-two .container .carousel-indicators {
  -webkit-transform: translateY(350%);
          transform: translateY(350%);
}
.services-two .container .carousel-indicators .data-bs-target {
  background-color: #00508d !important;
}
.services-two .container .carousel-control-next {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}
@media (max-width: 767px) {
  .services-two .container .carousel-control-next {
    -webkit-transform: translateX(27%);
            transform: translateX(27%);
  }
}
.services-two .container .carousel-control-next .carousel-control-next-icon {
  color: #00508d;
  background-image: none;
}
.services-two .container .carousel-control-prev {
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}
@media (max-width: 767px) {
  .services-two .container .carousel-control-prev {
    -webkit-transform: translateX(-27%);
            transform: translateX(-27%);
  }
}
.services-two .container .carousel-control-prev .carousel-control-prev-icon {
  color: #00508d;
  background-image: none;
}
.services-two .container .carousel-inner .carousel-item .row svg {
  background-color: #00508d;
}
.services-two .container .carousel-inner .carousel-item .row h3 {
  color: #00508d;
}

/* End services-two */
/* Start team */
.team {
  background-color: #00535d;
}
@media (max-width: 991px) {
  .team {
    display: none !important;
  }
}
.team .container {
  position: relative;
  left: -100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.team .container.active {
  left: 0%;
}
.team .container .carousel-indicators {
  -webkit-transform: translateY(350%);
          transform: translateY(350%);
}
.team .container .carousel-indicators .data-bs-target {
  background-color: #00508d !important;
}
.team .container .carousel-control-next {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}
.team .container .carousel-control-next .carousel-control-next-icon {
  color: #00508d;
  background-image: none;
}
.team .container .carousel-control-prev {
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
}
.team .container .carousel-control-prev .carousel-control-prev-icon {
  color: #00508d;
  background-image: none;
}
.team .container .carousel-dark .carousel-inner .row .card {
  background-color: transparent;
  border: none;
}
.team .container .carousel-dark .carousel-inner .row .card img {
  border-radius: 8px;
}
.team .container .carousel-dark .carousel-inner .row .card .card-body .card-title {
  color: #6bb4b6;
}
/* End team */
/* Start team two */
.team-two {
  background-color: #00535d;
  overflow: hidden;
}
@media (max-width: 991px) {
  .team-two {
    display: block !important;
  }
}
.team-two .container {
  position: relative;
  left: -100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.team-two .container.active {
  left: 0%;
}
.team-two .container .carousel-indicators {
  -webkit-transform: translateY(350%);
          transform: translateY(350%);
}
.team-two .container .carousel-indicators .data-bs-target {
  background-color: #00508d !important;
}
.team-two .container .carousel-control-next {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}
@media (max-width: 767px) {
  .team-two .container .carousel-control-next {
    -webkit-transform: translateX(27%);
            transform: translateX(27%);
  }
}
.team-two .container .carousel-control-next .carousel-control-next-icon {
  color: #00508d;
  background-image: none;
}
.team-two .container .carousel-control-prev {
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}
@media (max-width: 767px) {
  .team-two .container .carousel-control-prev {
    -webkit-transform: translateX(-27%);
            transform: translateX(-27%);
  }
}
.team-two .container .carousel-control-prev .carousel-control-prev-icon {
  color: #00508d;
  background-image: none;
}
.team-two .container .carousel .carousel-inner .row .card {
  background-color: transparent;
  border: none;
}
.team-two .container .carousel .carousel-inner .row .card img {
  border-radius: 8px;
}
.team-two .container .carousel .carousel-inner .row .card .card-body .card-title {
  color: #6bb4b6;
}
/* End team two*/
/* Start Revwies*/
@media (max-width: 991px) {
  .reviews {
    display: none !important;
  }
}
.reviews .container {
  position: relative;
  right: -100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.reviews .container.active {
  right: 0%;
}
.reviews .container .carousel .carousel-inner .carousel-item .row {
  padding: 1rem;
}
.reviews .container .carousel .carousel-inner .carousel-item .row .review-box {
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 10px 20px;
}
.reviews .container .carousel .carousel-inner .carousel-item .row .review-box img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 10px solid #ebebeb;
  width: 30% !important;
}
.reviews .container .carousel .carousel-inner .carousel-item .row .review-box .rate {
  margin-top: -1rem;
}
.reviews .container .carousel .carousel-inner .carousel-item .row .review-box .rate svg {
  font-size: large;
}
.reviews .container .carousel .carousel-inner .carousel-item .row .review-box .rate svg.filled {
  color: gold;
}
.reviews .container .carousel .carousel-inner .carousel-item .row .review-box:hover img {
  border-color: #00508d;
}
.reviews .container .carousel-indicators {
  -webkit-transform: translateY(350%);
          transform: translateY(350%);
}
.reviews .container .carousel-indicators .data-bs-target {
  background-color: #00508d !important;
}
.reviews .container .carousel-control-next {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}
.reviews .container .carousel-control-next .carousel-control-next-icon {
  color: #00508d;
  background-image: none;
}
.reviews .container .carousel-control-prev {
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
}
.reviews .container .carousel-control-prev .carousel-control-prev-icon {
  color: #00508d;
  background-image: none;
}

/* End  Reviews*/
/* Start Revwies two*/
.reviews-two {
  display: none;
  overflow: hidden;
}
@media (max-width: 991px) {
  .reviews-two {
    display: block !important;
  }
}
.reviews-two .container {
  position: relative;
  right: -100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.reviews-two .container.active {
  right: 0%;
}
.reviews-two .container .carousel .carousel-inner .carousel-item .row {
  padding: 1rem;
}
.reviews-two .container .carousel .carousel-inner .carousel-item .row .review-box {
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 10px 20px;
}
.reviews-two .container .carousel .carousel-inner .carousel-item .row .review-box img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 10px solid #ebebeb;
  width: 30% !important;
}
.reviews-two .container .carousel .carousel-inner .carousel-item .row .review-box .rate {
  margin-top: -1rem;
}
.reviews-two .container .carousel .carousel-inner .carousel-item .row .review-box .rate svg {
  font-size: large;
}
.reviews-two .container .carousel .carousel-inner .carousel-item .row .review-box .rate svg.filled {
  color: gold;
}
.reviews-two .container .carousel .carousel-inner .carousel-item .row .review-box:hover img {
  border-color: #00508d;
}
.reviews-two .container .carousel-indicators {
  -webkit-transform: translateY(350%);
          transform: translateY(350%);
}
.reviews-two .container .carousel-indicators .data-bs-target {
  background-color: #00508d !important;
}
.reviews-two .container .carousel-control-next {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}
@media (max-width: 767px) {
  .reviews-two .container .carousel-control-next {
    -webkit-transform: translateX(27%);
            transform: translateX(27%);
  }
}
.reviews-two .container .carousel-control-next .carousel-control-next-icon {
  color: #00508d;
  background-image: none;
}
.reviews-two .container .carousel-control-prev {
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}
@media (max-width: 767px) {
  .reviews-two .container .carousel-control-prev {
    -webkit-transform: translateX(-27%);
            transform: translateX(-27%);
  }
}
.reviews-two .container .carousel-control-prev .carousel-control-prev-icon {
  color: #00508d;
  background-image: none;
}

/* End  Reviews two*/
/* Start Skill */
.skill {
  background-color: #00535d;
  position: relative;
  overflow: hidden;
}
.skill .container .row {
  direction: rtl;
}
@media (max-width: 767px) {
  .skill .container .row {
    gap: 30px;
  }
}
.skill .container .row .success,
.skill .container .row .casses {
  position: relative;
  right: -300%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.skill .container .row .success.active,
.skill .container .row .casses.active {
  right: 0%;
}
.skill .container .row .expert,
.skill .container .row .smiles {
  position: relative;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  left: -300%;
}
.skill .container .row .expert.active,
.skill .container .row .smiles.active {
  left: 0%;
}
.skill .container .row h1 {
  color: white;
  font-size: xx-large;
}
.skill .container .row h5 {
  color: white;
  margin-bottom: 15px;
  font-size: x-large;
}

/* End Skill */
/* Start Online */
.online .container {
  position: relative;
  left: -100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  overflow: hidden;
  width: 80%;
}
.online .container.active {
  left: 0%;
}
.online .container .title-box button {
  margin-top: 20px;
}

/* End Online */
/* Start Article */
@media (max-width: 991px) {
  .articles {
    display: none !important;
  }
}
.articles .container {
  position: relative;
  right: -100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.articles .container.active {
  right: 0%;
}
.articles .container .carousel .carousel-inner .carousel-item .row {
  padding: 1rem;
}
.articles .container .carousel .carousel-inner .carousel-item .row .card {
  direction: rtl;
  border: none;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.articles .container .carousel .carousel-inner .carousel-item .row .card .image {
  position: relative;
  cursor: pointer;
}
.articles .container .carousel .carousel-inner .carousel-item .row .card .image .img-icon {
  position: absolute;
  left: 5%;
  top: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(0, 153, 153, 0.51);
  color: white;
  font-size: x-large;
  width: 15%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.articles .container .carousel .carousel-inner .carousel-item .row .card .image .img-icon svg {
  padding: 1rem;
}
.articles .container .carousel .carousel-inner .carousel-item .row .card .image:hover .img-icon {
  width: 100%;
  height: 100%;
  padding: 0;
  left: 0;
  top: 0;
  font-size: xx-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.articles .container .carousel .carousel-inner .carousel-item .row .card .card-body .card-title {
  margin: 10px 0;
  color: #00508d;
}
.articles .container .carousel-indicators {
  -webkit-transform: translateY(350%);
          transform: translateY(350%);
}
.articles .container .carousel-indicators .data-bs-target {
  background-color: #00508d !important;
}
.articles .container .carousel-control-next {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}
.articles .container .carousel-control-next .carousel-control-next-icon {
  color: #00508d;
  background-image: none;
}
.articles .container .carousel-control-prev {
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
}
.articles .container .carousel-control-prev .carousel-control-prev-icon {
  color: #00508d;
  background-image: none;
}

/* End Article */
/* Start Article two */
.articles-two {
  display: none;
  overflow: hidden;
}
@media (max-width: 991px) {
  .articles-two {
    display: block !important;
  }
}
.articles-two .container {
  position: relative;
  right: -100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.articles-two .container.active {
  right: 0%;
}
.articles-two .container .carousel .carousel-inner .carousel-item .row {
  padding: 1rem;
}
.articles-two .container .carousel .carousel-inner .carousel-item .row .card {
  direction: rtl;
  border: none;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.articles-two .container .carousel .carousel-inner .carousel-item .row .card .image {
  position: relative;
  cursor: pointer;
}
.articles-two .container .carousel .carousel-inner .carousel-item .row .card .image .img-icon {
  position: absolute;
  left: 5%;
  top: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(0, 153, 153, 0.51);
  color: white;
  font-size: x-large;
  width: 15%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.articles-two .container .carousel .carousel-inner .carousel-item .row .card .image .img-icon svg {
  padding: 1rem;
}
.articles-two .container .carousel .carousel-inner .carousel-item .row .card .image:hover .img-icon {
  width: 100%;
  height: 100%;
  padding: 0;
  left: 0;
  top: 0;
  font-size: xx-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.articles-two .container .carousel .carousel-inner .carousel-item .row .card .card-body .card-title {
  margin: 10px 0;
  color: #00508d;
}
.articles-two .container .carousel-indicators {
  -webkit-transform: translateY(350%);
          transform: translateY(350%);
}
.articles-two .container .carousel-indicators .data-bs-target {
  background-color: #00508d !important;
}
.articles-two .container .carousel-control-next {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}
@media (max-width: 767px) {
  .articles-two .container .carousel-control-next {
    -webkit-transform: translateX(27%);
            transform: translateX(27%);
  }
}
.articles-two .container .carousel-control-next .carousel-control-next-icon {
  color: #00508d;
  background-image: none;
}
.articles-two .container .carousel-control-prev {
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}
@media (max-width: 767px) {
  .articles-two .container .carousel-control-prev {
    -webkit-transform: translateX(-27%);
            transform: translateX(-27%);
  }
}
.articles-two .container .carousel-control-prev .carousel-control-prev-icon {
  color: #00508d;
  background-image: none;
}

/* End Article two */
/* Start time */
/* End time */
/* Start info */
.info {
  position: relative;
  overflow: hidden;
}
.info .container {
  position: relative;
  left: -100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  width: 90%;
}
.info .container.active {
  left: 0%;
}
.info .container .row {
  direction: rtl;
}
@media (max-width: 991px) {
  .info .container .row {
    gap: 2rem;
  }
}
.info .container .row .box {
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  cursor: pointer;
  gap: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.info .container .row .box:hover {
  background-color: #00508d;
}
.info .container .row .box:hover .address-logo, .info .container .row .box:hover .address, .info .container .row .box:hover .address a {
  color: white !important;
}
.info .container .row .box .logo {
  padding: 1rem;
  color: #00508d;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.info .container .row .box .column-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.info .container .row .box .column-box .address-logo {
  font-weight: bolder;
  font-size: x-large;
  color: #00508d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.info .container .row .box .column-box .address {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #709ea4;
}
.info .container .row .box .column-box .address a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #709ea4;
}

/* End info */
/* Start footer */
.footer {
  background-color: #00535d;
  direction: rtl;
  position: relative;
}
.footer .container {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  opacity: 0;
}
.footer .container.active {
  opacity: 1;
}
.footer .container .row {
  direction: rtl;
}
.footer .container .row .links h5 {
  z-index: 1000;
  font-weight: bolder;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
@media (max-width: 767px) {
  .footer .container .row .links h5 {
    width: 100%;
  }
}
.footer .container .row .links p {
  padding-top: 1rem;
}
.footer .container .row .links p a {
  color: #709ea4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer .container .row .links p a:hover {
  color: white;
}
.footer .container .row .links ul {
  padding-top: 1rem;
}
.footer .container .row .links ul li {
  padding-bottom: 1rem;
}
.footer .container .row .links ul li:hover a {
  color: white;
}
.footer .container .row .links ul li a {
  color: #709ea4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer .container .row .contact-us h5 {
  color: white;
  font-weight: bolder;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
@media (max-width: 767px) {
  .footer .container .row .contact-us h5 {
    width: 100%;
    padding-top: 1rem;
  }
}
.footer .container .row .contact-us p {
  padding-top: 1rem;
}
.footer .container .row .contact-us p a {
  color: #709ea4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer .container .row .contact-us p a:hover {
  color: white;
}
.footer .container .row .contact-us a {
  color: #709ea4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer .container .row .contact-us a:hover {
  color: white;
}
.footer .container .row .contact-us ul li a {
  color: white !important;
}
.footer .container .row .contact-us ul li a:hover {
  color: #709ea4 !important;
}
.footer .container .copyright {
  width: 100%;
  border-top: 1px solid #709ea4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: -2rem;
  padding-top: 1rem;
  color: white;
}
@media (max-width: 767px) {
  .footer .container .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer .container .copyright span {
  color: white;
  font-weight: bold;
}
.footer .container .copyright a {
  color: white;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
}

/* End footer */