$text-shadow: 0px 0px 15px rgb(0 0 0 / 55%);
$box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
  0px 2px 4px 0px rgb(0 0 0 / 12%);
$background: linear-gradient(to right, #bd1b6e, #563e7c);

$form-color:#ad181e;
$color-alt: #5bccd0;
$color: #00508d;
$section-color: #00535d;
$color-extra: #00508d;
$section-color-2: #eff7fa;
$font-size-large: 50px;
$font-size: 25px;
$font-size-alt: 20p;
$font-size-small: 14px;
$transition: 0.3s;
$transition-slow: 0.5s;
$transition-so-slow: 0.7s;
$padding-top: 20px;
$padding-bottom: 100px;
$section--background: #d8d8d8;
$second-color: #10cab7;
$p-color: #709ea4;
$line-height: 2;
$padding-text: 40px;
$padding-text-alt: 20px;
$opacity-color: #ffffff33;
