// impot all rules file to main file
@use "../sass/pages/all.scss";
// impot global rules file to main file
@use "../sass/layout/global-rules";
// impot pages file to main file
@use "../sass/pages/contactus";
// Import Variables
@use "../sass/variables/color" as *;
// Import mixins
@use "../sass/helpers/mixins" as *;
// Import Functions
@use "../sass/functions/functions" as *;
/* Start Result */
.result {
  position: relative;
  margin-top: -3%;
  .container {
    direction: rtl;
    .main-box {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 2rem;
      @include breakpoints(small) {
        flex-direction: column-reverse;
      }
      .location {
        
        @include breakpoints(small) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          text-align: center;
        }
        h2 {
          font-size: $font-size;
          direction: rtl;
          padding-bottom: 10px;
          @include breakpoints(small) {
            padding-bottom: 2rem;
          }
        }
        .info-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;
          padding-bottom: 20px;
          @include breakpoints(small) {
            font-size: $font-size-small;
            flex-direction: column;
          }
          .logo {
            svg {
              color: $color-extra;
              font-size: $font-size;
              padding-bottom: 10px;
            }
          }
          p {
            color: #636363;
            font-size: large;
          }
          a {
            color: #636363;
            font-size: large;
          }
        }
      }
      .second-box {
        @include breakpoints(large) {
          width: 100%;
        }
        h3 {
          color: $color-extra;
          @include breakpoints(small) {
            text-align: center;
          }
        }
        p {
          @include breakpoints(small) {
            text-align: center;
          }
        }
        form {
          display: flex;
          flex-direction: column;
          gap: 0.9rem;
          padding: 1rem;
          @include breakpoints(mobile) {
            width: 100%;
          }
          input {
            background-color: #f5f5f5;
            border: 1px solid $p-color;
            outline: none;
            padding: 1rem;
            direction: rtl;
          }
          textarea {
            background-color: #f5f5f5;
            border: 1px solid $p-color;
            outline: none;
            direction: rtl;
            width: 100%;
            padding: 1rem;
            height: 20vh;
          }
          button {
            @include none;
            border-radius: 5px;
            padding: 1rem;
            direction: rtl;
          }
        }
      }
    }
  }
}
/* End Result */